@import '../../theme/variables.scss';

.inputWrapper {
  position: absolute;
  right: 20px;
  z-index: 15;
  width: 304px;
  @media (max-width: 568px) {
    background-color: $dark;
    width: 88vw;
    display: flex;
    justify-content: space-around;
  }
}

.input {
  width: 100%;
  z-index: 15;
  @media (max-width: 568px) {
    width: 85%;
    input,
    .ant-input-group-addon {
      height: 30px;
    }

    button {
      height: 39px !important;
    }
  }
}

.icon {
  color: $white;
  font-size: 25px;
}

.searchIcon {
  padding: 3px;
  align-self: flex-start;
}

.inputForm {
  position: relative;
  width: 100%;
}
.error {
  position: absolute;
  bottom: -15px;
  left: 12px;
  text-align: left;
  font-size: 11px;
  color: $error;
}
