@import '../../theme/variables.scss';

.wrapper {
  height: 32px;
  padding: 0 10px;
  width: 100%;
  background-color: $bgc;
  font-size: 16px;
  color: $table-value;
  display: flex;
  justify-content: start;
  align-items: center;
}

.main {
  background-color: $black;
  font-size: 26px;
  justify-content: center;
  color: $white;
}
